
.title {
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    color: lightsalmon
}
p {
    background-color: whitesmoke;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
  
 .desc {
    padding: 30px;
 }
  
 h1 {
    padding: 20px;
    text-align: center;
    color: teal;
 }

 h1 {
    padding: 20px;
    background-color: lightsalmon;
    text-align: center;
    color: white;
 }

 h2 {
    padding: 20px;
    background-color: whitesmoke;
    text-align: center;
    color: lightsalmon;
 }
  
 img {
    height: 5cm;
    border-radius: 8px;
   
 }
 
 #facts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
 }
 
 .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
 }
  
 .music-button {
    background-color: lightsalmon; 
    color: white;
    padding: 30px;
    margin: 20px;
    text-align: center;
    font-size: 16px;
 }
  
 .fun-facts-button {
    background-color: lightsalmon; 
    color: white;
    padding: 30px;
    margin: 20px;
    text-align: center;
    font-size: 16px;
 }

 .history-button {
    background-color: lightsalmon; 
    color: white;
    padding: 30px;
    margin: 20px;
    text-align: center;
    font-size: 16px;
 }

 ul {
    background-color: whitesmoke;
    padding: 20px;
    border-style:ridge;
    border-width: thick;
    border-color: lightsalmon;
    list-style-type:circle;
 }
  
 html {
   background-color: white;
    padding: 4cm;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 #songs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
 .italics {
    font-style: italic;
    color: black;
 }
 
 #funfacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }